/* SmallSans */
@font-face {
	font-family: 'SmallSans';
	font-weight: 300;
	src: url('/common/fonts/SmallSans/KakaoSmallSans-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'SmallSans';
	font-weight: 400;
	src: url('/common/fonts/SmallSans/KakaoSmallSans-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'SmallSans';
	font-weight: 600;
	src: url('/common/fonts/SmallSans/KakaoSmallSans-Bold.woff2') format('woff2');
}
