<header class="workbenchTopbar">
    <div class="workbenchTopbarLeft"></div>
    <div class="workbenchTopbarBrand">
        <span class="workbenchTopbarBrandMark">
            <img src="/img/symbol.svg" alt="">
        </span>
        <strong>Auto One Co., Ltd.</strong>
    </div>
    <div class="workbenchTopbarActions">
        <button type="button" class="workbenchProfileBtn" aria-label="내 프로필">
            <span class="workbenchProfileAvatar">나</span>
            <span class="workbenchProfileMeta">
                <strong class="workbenchProfileName">-</strong>
                <span class="workbenchProfileDepartment">-</span>
            </span>
        </button>
    </div>
</header>
