@media all and (min-width:721px){
    .passwordChangePage { width:500px; padding:50px; background:#fff; border-radius:10px; box-shadow:0 10px 30px rgba(0,0,0,0.08); margin:100px auto 0; font-size:0; }
    .passwordChangePage img { display:block; width:50%; height:auto; margin:0 auto 20px; }
    .passwordChangePage p { text-align:center; font-size:16px; line-height:1; font-weight:normal; }
    .passwordChangePage p:not(:last-child) { margin:10px 0 0; }
    .passwordChangePage fieldset { position:relative; margin:40px 0 0; }
    #birthDate,
    #newPassword,
    #confirmPassword,
    #findUserId,
    #findUserName,
    #findBirthDate { width:100%; height:48px; padding:0 15px; border:1px solid #e8e8e8; border-radius:5px; font-size:14px; margin:0 0 10px; }
    #passwordChangeBtn,
    #findPasswordBtn { margin:10px 0 0; width:100%; height:52px; background:#0373ef; color:#fff; border:none; border-radius:5px; font-size:15px; font-weight:600; cursor:pointer; }
    .passwordChangeMsg { display:none; margin:20px 0 0; font-size:13px; color:#eb3436; line-height:1; }
    .passwordChangeMsg i { margin-right:6px; font-size:14px; vertical-align:-1px; }
    
    .f_copyright { position:fixed; bottom:30px; left:50%; transform:translatex(-50%); font-size:12px; line-height:1; opacity:0.5; }
}
